body {
    background-image: url('https://images.freeimages.com/images/large-previews/948/bitcoin-1056983.jpg');
    text-align: center;
    padding:  5%;
    font-size: 18px;
    color: snow;
}
 button {
     margin-left: 5px;
 }

 button, input {
     border: 2px solid black;
     border-radius: 2px;
     background-color: wheat;
 }

